/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');
@import '_null';

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Regular.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue-55Roman';
  src: url('../fonts/HelveticaNeue-55Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-55Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBlack';
  src: url('../fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-CondensedBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url('../fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1;
  font-family: 'HelveticaNeue-55Roman', sans-serif;
  color: rgb(133, 135, 140);
  background: #1a1a1a;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}

[class*='__ibg'] {
  position: relative;
}

[class*='__ibg'] img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.common-titles {
  position: relative;
  padding: 62px 0px 59px 0px;

  // .common-titles__title

  &__title {
    position: relative;
    font-size: 36px;
    line-height: 250%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: capitalize;
    color: #d9d9d9;
    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 2px;
      background: #34c759;
      margin: 32px auto 0px;
    }
  }

  // .common-titles__subtitle

  &__subtitle {
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translate(-50%);
    font-family: 'HelveticaNeue-CondensedBlack', sans-serif;
    font-weight: 900;
    font-size: 100px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    color: #303030;
  }
}

.your-favorite-food {
  // .your-favorite-food__content

  &__content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 171px 0px 0px 0px;
    background: url('../assets/your-favorite-food/img/food.png') 50% 0 no-repeat;
    border-radius: 8px;
  }
  // .your-favorite-food__container

  &__container {
    display: flex;
    max-width: 945px;
    flex-direction: column;
    padding-bottom: 27.84%;
  }

  // .your-favorite-food__title

  &__title {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 119%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  // .your-favorite-food__selected-title

  &__selected-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 72px;
  }

  // .your-favorite-food__text

  &__text {
    align-self: center;
    font-family: 'HelveticaNeue-55Roman', sans-serif;
    line-height: 162%;
    text-align: center;
    letter-spacing: -0.2px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.7;
    max-width: 595px;
    // margin: 0 auto;
    padding: 0px 15px 0px 15px;
    &:not(:last-child) {
      margin-bottom: 42px;
    }
  }

  // .your-favorite-food__selected-text

  &__selected-text {
    text-transform: uppercase;
  }

  // .your-favorite-food__button

  &__button {
    align-self: center;
    font-family: 'HelveticaNeue-CondensedBold';
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    letter-spacing: 0.2em;
    color: #1a1a1a;
    padding: 25px 57px 25px 57px;
    background: #34c759;
    border-radius: 43px;
    &:not(:last-child) {
      margin-bottom: 74px;
    }
  }
  .your-favorite-food {
    // .your-favorite-food__contacts

    &__contacts {
    }
  }
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  row-gap: 45px;
  margin: 0px -45px;

  // .contacts__item

  &__item {
    flex: 1 1 33.333%;
    padding: 0px 45px;
    min-width: 200px;
  }
}
.item-contacts {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
  // .item-contacts__icon

  &__icon {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  // .item-contacts__image

  &__image {
  }

  // .item-contacts__info

  &__info {
    line-height: 188%;
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  // .item-contacts__title

  &__title {
    font-size: 14px;
    line-height: 160%;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}

.work {
  padding: 0px 0px 28px 0px;
  // .work__container

  &__container {
  }

  // .work__titles

  &__titles {
  }

  // .work__list

  &__list {
    display: flex;
    row-gap: 30px;
    flex-wrap: wrap;
    margin: 0px -15px;
  }

  // .work__item

  &__item {
    flex: 0 1 25%;
    padding: 0px 15px;
    transition: all 0.5s ease 0s;
    @media (max-width: 1023.98px) {
      flex: 1 1 50%;
    }
  }
}

.item-work {
  height: 100%;
  padding: 25px 26px 24px 26px;
  min-height: 206px;
  transition: all 0.5s ease 0s;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  &:hover {
    background: #34c759;
  }
  &:hover * {
    color: #191919;
  }
  &:hover &__title::after {
    background: #191919;
  }

  // .item-work__title

  &__title {
    font-size: 22px;
    line-height: 118%;
    letter-spacing: -0.275px;
    text-transform: capitalize;
    color: #ffffff;
    &::after {
      content: '';
      display: block;
      width: 56px;
      height: 2px;
      background: #34c759;
      margin: 16px 0px 0px 0px;
    }
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  // .item-work__text

  &__text {
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.1625px;
    color: rgba(255, 255, 255, 0.5);
  }
}

.dishes {
  padding: 28px 0px 28px 0px;
  // .dishes__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    row-gap: 30px;
  }

  // .dishes__item

  &__item {
    flex: 1 1 33.333%;
    padding: 0px 15px;
    min-width: 290px;
  }
}
.item-dishes {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  @media (min-width: 1140px) {
    &__item {
      max-width: 350px;
    }
  }

  // .item-dishes__picture

  &__ibg {
    padding: 0px 0px 74.28% 0px;
    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  // .item-dishes__image

  &__image {
  }

  // .item-dishes__link

  &__link {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
  }

  // .item-dishes__icon

  &__icon {
    max-height: 40px;
    width: 100%;
  }

  // .item-dishes__body

  &__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0px 24px 24px 30px;
  }

  // .item-dishes__title

  &__title {
    font-size: 32px;
    line-height: 94%;
    color: #d9d9d9;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  // .item-dishes__subtitle

  &__subtitle {
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.15px;
    color: #a4a8b2;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  // .item-dishes__text

  &__text {
    flex: 1 1 auto;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.1625px;
    color: #85878c;
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }

  // .item-dishes__rating-button

  &__order {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
  }

  // .item-dishes__button

  &__button {
    flex: 0 1 100px;
    font-family: 'HelveticaNeue-CondensedBlack', sans-serif;
    font-weight: 900;
    font-size: 10px;
    line-height: 400%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    background: #262626;
    border: 2px solid #303030;
    transition: all 0.5s ease 0s;
    &:hover {
      color: #252525;
      background: #34c759;
      border: 2px solid #34c759;
    }
  }
}
.rating {
  padding: 0px 0px 0px 5px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  column-gap: 14px;
  // .rating__picture

  &__picture {
  }

  // .rating__image

  &__image {
  }

  // .rating__value

  &__value {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 250%;
    letter-spacing: 1.5px;
    color: #b3b3b3;
  }
}
