@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "HelveticaNeue-55Roman";
  src: url("../fonts/HelveticaNeue-55Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-55Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue-CondensedBlack";
  src: url("../fonts/HelveticaNeue-CondensedBlack.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue-CondensedBold";
  src: url("../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  line-height: 1;
  font-family: "HelveticaNeue-55Roman", sans-serif;
  color: rgb(133, 135, 140);
  background: #1a1a1a;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}