@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"), url("../fonts/HelveticaNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue-55Roman";
  src: url("../fonts/HelveticaNeue-55Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-55Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue-CondensedBlack";
  src: url("../fonts/HelveticaNeue-CondensedBlack.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeue-CondensedBold";
  src: url("../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  line-height: 1;
  font-family: "HelveticaNeue-55Roman", sans-serif;
  color: rgb(133, 135, 140);
  background: #1a1a1a;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*=__container] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}

[class*=__ibg] {
  position: relative;
}

[class*=__ibg] img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.common-titles {
  position: relative;
  padding: 62px 0px 59px 0px;
}
.common-titles__title {
  position: relative;
  font-size: 36px;
  line-height: 250%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #d9d9d9;
}
.common-titles__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #34c759;
  margin: 32px auto 0px;
}
.common-titles__subtitle {
  position: absolute;
  top: 37px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  font-family: "HelveticaNeue-CondensedBlack", sans-serif;
  font-weight: 900;
  font-size: 100px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  color: #303030;
}

.your-favorite-food__content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 171px 0px 0px 0px;
  background: url("../assets/your-favorite-food/img/food.png") 50% 0 no-repeat;
  border-radius: 8px;
}
.your-favorite-food__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 945px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 27.84%;
}
.your-favorite-food__title {
  font-family: "HelveticaNeue", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 119%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #ffffff;
}
.your-favorite-food__title:not(:last-child) {
  margin-bottom: 2px;
}
.your-favorite-food__selected-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 72px;
}
.your-favorite-food__text {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "HelveticaNeue-55Roman", sans-serif;
  line-height: 162%;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.7;
  max-width: 595px;
  padding: 0px 15px 0px 15px;
}
.your-favorite-food__text:not(:last-child) {
  margin-bottom: 42px;
}
.your-favorite-food__selected-text {
  text-transform: uppercase;
}
.your-favorite-food__button {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "HelveticaNeue-CondensedBold";
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  letter-spacing: 0.2em;
  border-radius: 43px;
  color: rgba(255, 255, 255, 0.5);
  background: #262626;
  border: 2px solid #303030;
  padding: 25px 57px 25px 57px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.your-favorite-food__button:not(:last-child) {
  margin-bottom: 74px;
}
.your-favorite-food__button:hover {
  background: #34c759;
  color: #1a1a1a;
  border: 2px solid #34c759;
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 45px;
  margin: 0px -45px;
}
.contacts__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 45px;
  min-width: 200px;
}

.item-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.item-contacts__icon:not(:last-child) {
  margin-bottom: 14px;
}
.item-contacts__info {
  line-height: 188%;
  color: #ffffff;
}
.item-contacts__info:not(:last-child) {
  margin-bottom: 4px;
}
.item-contacts__title {
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.work {
  padding: 0px 0px 28px 0px;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}
.work__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 15px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 1023.98px) {
  .work__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.item-work {
  height: 100%;
  padding: 25px 26px 24px 26px;
  min-height: 206px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.item-work:hover {
  background: #34c759;
}
.item-work:hover * {
  color: #191919;
}
.item-work:hover .item-work__title::after {
  background: #191919;
}
.item-work__title {
  font-size: 22px;
  line-height: 118%;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #ffffff;
}
.item-work__title::after {
  content: "";
  display: block;
  width: 56px;
  height: 2px;
  background: #34c759;
  margin: 16px 0px 0px 0px;
}
.item-work__title:not(:last-child) {
  margin-bottom: 24px;
}
.item-work__text {
  font-size: 13px;
  line-height: 138%;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.dishes {
  padding: 28px 0px 28px 0px;
}
.dishes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
  row-gap: 30px;
}
.dishes__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0px 15px;
  min-width: 290px;
}

.item-dishes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
@media (min-width: 1140px) {
  .item-dishes__item {
    max-width: 350px;
  }
}
.item-dishes__ibg {
  padding: 0px 0px 74.28% 0px;
}
.item-dishes__ibg:not(:last-child) {
  margin-bottom: 27px;
}
.item-dishes__link {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
}
.item-dishes__link:hover svg g rect {
  fill: #34c759;
  opacity: 1;
}
.item-dishes__link:hover svg g g rect {
  fill: #000;
}
.item-dishes__icon {
  max-height: 40px;
  width: 100%;
}
.item-dishes__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 24px 24px 30px;
}
.item-dishes__title {
  font-size: 32px;
  line-height: 94%;
  color: #d9d9d9;
}
.item-dishes__title:not(:last-child) {
  margin-bottom: 2px;
}
.item-dishes__subtitle {
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.15px;
  color: #a4a8b2;
}
.item-dishes__subtitle:not(:last-child) {
  margin-bottom: 20px;
}
.item-dishes__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 13px;
  line-height: 138%;
  letter-spacing: -0.1625px;
  color: #85878c;
}
.item-dishes__text:not(:last-child) {
  margin-bottom: 21px;
}
.item-dishes__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 25px;
}
.item-dishes__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  font-family: "HelveticaNeue-CondensedBlack", sans-serif;
  font-weight: 900;
  font-size: 10px;
  line-height: 400%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  background: #262626;
  border: 2px solid #303030;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item-dishes__button:hover {
  color: #252525;
  background: #34c759;
  border: 2px solid #34c759;
}

.rating {
  padding: 0px 0px 0px 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.rating__value {
  font-family: "HelveticaNeue", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 250%;
  letter-spacing: 1.5px;
  color: #b3b3b3;
}

.recipes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
  row-gap: 30px;
}
.recipes__big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 15px;
}
.recipes__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px;
  margin: -15px 0px;
}
.recipes__item {
  padding: 15px 0px;
}

.big-recipes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 60px 90px 60px 90px;
  background: url("../assets/recipes/img/01.jpg") 0 0/cover no-repeat;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100%;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}
.big-recipes__link {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  padding: 13px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.big-recipes__link:hover {
  background: #34c759;
}
.big-recipes__link:hover svg g rect {
  fill: #1a1a1a;
}
.big-recipes__meal {
  font-family: "HelveticaNeue-CondensedBlack", sans-serif;
  font-weight: 900;
  font-size: 10px;
  line-height: 200%;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 3px 14px 3px 14px;
}
.big-recipes__meal:not(:last-child) {
  margin-bottom: 65px;
}
.big-recipes__date {
  font-size: 14px;
  line-height: 214%;
  color: #ffffff;
}
.big-recipes__date:not(:last-child) {
  margin-bottom: 22px;
}
.big-recipes__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 24px;
  line-height: 167%;
  color: #ffffff;
}
.big-recipes__text:not(:last-child) {
  margin-bottom: 46px;
}
.big-recipes__name {
  font-size: 14px;
  line-height: 214%;
  color: #ffffff;
}
.big-recipes__name:not(:last-child) {
  margin-bottom: 61px;
}
.big-recipes__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.big-recipes__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.big-recipes__icon {
  -ms-flex-item-align: center;
      align-self: center;
}
.big-recipes__number {
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 250%;
  color: #ffffff;
}
.big-recipes__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}

.item-recipes {
  padding: 30px 30px 20px 30px;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 100%;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}
.item-recipes:hover {
  background: #34c759;
}
.item-recipes:hover .item-recipes__text {
  color: #252525;
}
.item-recipes:hover .item-recipes__meal {
  background: #000000;
}
.item-recipes:hover .item-recipes__info .item-recipes__date {
  color: #1a1a1a;
}
.item-recipes:hover .item-recipes__icons .item-recipes__number {
  color: #1a1a1a;
}
.item-recipes:hover .item-recipes__icon .item-recipes__image rect {
  fill: #1a1a1a;
}
.item-recipes:hover .item-recipes__icon .item-recipes__image rect {
  fill: #1a1a1a;
}
.item-recipes_image {
  background: url("../assets/recipes/img/02.png") 0 0/cover no-repeat;
}
.item-recipes__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 188%;
  color: #ffffff;
}
.item-recipes__text:not(:last-child) {
  margin-bottom: 10px;
}
.item-recipes__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.item-recipes__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.item-recipes__meal {
  font-family: "HelveticaNeue-CondensedBlack", sans-serif;
  font-weight: 900;
  font-size: 10px;
  line-height: 200%;
  letter-spacing: 1.25px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 3px 16px 3px 16px;
}
.item-recipes__date {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 12px;
  line-height: 208%;
  color: #b3b3b3;
}
.item-recipes__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.item-recipes__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.item-recipes__icon {
  -ms-flex-item-align: center;
      align-self: center;
}
.item-recipes__number {
  font-family: "HelveticaNeue-CondensedBold", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 250%;
  color: #ffffff;
}
.item-recipes__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}