/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
@import '_null';

@font-face {
  font-family: 'HelveticaNeue-55Roman';
  src: url('../fonts/HelveticaNeue-55Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-55Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBlack';
  src: url('../fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-CondensedBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url('../fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
    url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1;
  font-family: 'HelveticaNeue-55Roman', sans-serif;
  color: rgb(133, 135, 140);
  background: #1a1a1a;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*='__container'] {
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 15px;
}

.your-favorite {
  // .your-favorite__content

  &__content {
  }

  // .your-favorite__title

  &__title {
  }

  // .your-favorite__text

  &__text {
  }

  // .your-favorite__button

  &__button {
  }

  // .your-favorite__contacts

  &__contacts {
  }
}
.title-favorite-your {
  // .title-favorite-your__selected

  &__selected {
  }
}
.text-favorite-your {
  // .text-favorite-your__selected

  &__selected {
  }
}
.button {
}
.contacts {
  // .contacts__item

  &__item {
  }
}
.item-contacts {
  // .item-contacts__icon

  &__icon {
  }

  // .item-contacts__image

  &__image {
  }

  // .item-contacts__info

  &__info {
  }

  // .item-contacts__title

  &__title {
  }
}
